$text-dark-blue:#24334b;
$text-light-green:#1baa75;
$bg-white:#fff;
$bg-light-gray:#F6F6F6;
$border-gray:#cdcdcd;
$bg-dark-blue:#3f5984;
$text-red:#eb5757;
$shadow-gray:#e9e9e9;
$shadow-green:#99dbaf;
$shadow-dark-blue:#9ecdb8;
$border-white:#efefef;
$text-white:#ebebeb;
$text-gray-blue:#687c9b;
$drop-dark-blue:rgba (36, 51, 75, 0.25);
$text-dark-rgba: rgba(174, 174, 174, 0.06);
